services:
  matisse-app:
    container_name: matisse-app
    build:
      context: ./docker
      args:
        UID: $U_ID
    volumes:
      - ./:/var/www/html
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=matisse-server
    ports:
      - '1000:80'
    networks:
      - matisse-network
    depends_on:
      - matisse-db

  matisse-db:
    container_name: matisse-db
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_PASSWORD: password
      POSTGRES_USER: app
    volumes:
      - database_data:/var/lib/postgresql/data
#      - ./databases:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - matisse-network

  mailer:
      image: axllent/mailpit
      ports:
          - "1025"
          - "8025"
      environment:
          MP_SMTP_AUTH_ACCEPT_ANY: 1
          MP_SMTP_AUTH_ALLOW_INSECURE: 1

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
        - "11435:11434"
    volumes:
        - ollama_data:/root/.ollama
    networks:
        - matisse-network
    command: ["serve"]

networks:
  matisse-network:

volumes:
  database_data:
  ollama_data:


